# 手机账号普通 Redis 代理配置。
# 后端地址来自 Wiki.js 的内网部署文档。

frontend mobile_account_redis
    bind [::]:6360
    default_backend mobile_account_redis_nodes

backend mobile_account_redis_nodes
    option tcp-check
    tcp-check connect

    # 与 redis_master 使用相同的认证密码。
    tcp-check send-binary 2a320d0a24340d0a415554480d0a2431330d0a7a687579616e2b3132330d0a
    tcp-check expect string +OK

    tcp-check send-binary 2a320d0a24340d0a494e464f0d0a2431310d0a7265706c69636174696f6e0d0a
    tcp-check expect string role:master
    tcp-check send-binary 2a310d0a24340d0a515549540d0a
    default-server check inter 1s fall 2 rise 1 on-marked-down shutdown-sessions

    server redis-0 10.15.112.152:6360
    server redis-1 10.15.112.152:6361
