# HAProxy 全局配置和代理默认值。
# Redis Master 的 frontend 和 backend 配置位于 conf.d/00-redis-master.cfg。

global
    maxconn 4096
    log stdout format raw local0
    pidfile haproxy.pid
    stats socket unix@haproxy.sock mode 660 level operator

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 2s
    timeout client 1h
    timeout server 1h
    timeout check 2s
